extends layout.pug

block content

  article.portfolio-intro

    h1 My Portofolio

    p A list of a few projects I've developed, selected to showcase some of the different technologies I work with on a regular basis.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each app in projects
        .cell
          a(href=`/project/${app.id}`)
            img.thumbnail(src= `${app.image_urls[2]}`, alt=`${app.project_name}`)
            h5= `${app.project_name}`
		    

